@media (max-width: 1200px) {
    .hero_title {
        font-size: 45px;
    }

    .story-item h3 {
        font-size: 15px;
    }

    .about_info p {
        font-size: 21px;
    }
}

@media (max-width: 992px) {
    .hero_title {
        font-size: 40px;
    }

    .col-6 {
        width: 100%;
    }

    .second_story-title {
        font-size: 15px;
    }

    .sub-title {
        font-size: 10px;
    }

    .btn {
        font-size: 10px;
        min-width: 120px;
    }

    .story-item {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .hero_title {
        text-align: center;
    }

    .second-story .services-box {
        display: flex;
        flex-direction: column;
        padding-bottom: 78px;
    }

    .second_story-title:before {
        bottom: -6px;
    }

    .second_story-title {
        font-size: 13px;
    }

    .sub-title {
        padding: 10px 0;
    }

    .btn {
        max-width: 110px;
    }

    .col-4 {
        width: 100%;
    }
    .about_info {
        margin-bottom: 10px;
    }
    .story-item {
        height: unset;
        margin-bottom: 10px;
    }
    .story-info {
        margin-bottom: 12px;
    }

    .story-item h3 {
        font-size: 13px;
    }

    .sub-text {
        font-size: 13px;
    }

    .list_footer {
        font-size: 12px;
    }

    .menu_btn {
        display: flex;

    }
    .header_menu{
        display: flex;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background-color: black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        transition: .6s;
    }
    .header_menu.active {
        left: 0;
        color: #FFFFFF;
    }
    .menu_btn.active span:before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu_btn.active span:after {
        transform: rotate(-45deg);
        top: 0;
    }

    .menu_btn.active span {
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    .story-info {
        font-size: 16px;
        margin-bottom: 22px;
    }

    .about_info p {
        font-size: 19px;
    }

    .about-col {
        padding: 0 4px;
    }

    .col-4 {
        width: 100%;
    }

    .about_info {
        margin-bottom: 10px;
    }

    .story-item {
        height: unset;
        margin-bottom: 10px;
    }

    .services-box {
        flex-direction: column;
    }

    .second_story-title {
        margin-bottom: 11px;
        font-size: 17px;
    }

    .sub-title {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .top-links{
        margin-bottom: 16px;
    }

    .newsletter_caption {
        margin-bottom: 5px;
    }

    .newsletter_form_input {
        width: 155px;
    }

    .newsletter_form {
        margin-left: 0;
    }

    .btn {
        min-width: 75px;
    }

    .list_footer {
        margin-bottom: 14px;
    }
}